#whoopee
.DS_Store

#big things
Applications/
Desktop/
Documents/
Library/
Movies/
Music/
Pictures/
Public/
ScrViewImages/
Sites/

#VSCode things
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
